.about-hero {
  width: 100%;
  height: 60vh;
  background-image: url(../assets/img/about-us-bg.png);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5rem;
}

.about-hero-container h1 {
  color: var(--cor-branca);
  font-size: 2.5rem;
}

.about-hero-container p {
  color: var(--cor-branca);
}

main {
  height: 200vh;
}

.about-container {
  margin: 5rem auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 5rem;
}

.about-content h2 {
  font-size: 2rem;
  margin: 0 0 2rem;
  background: linear-gradient(90deg, var(--cor-preta), var(--cor-laranja));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.about-img img {
  width: 600px;
  border-radius: var(--radius);
}
