.contact-hero {
  width: 100%;
  height: 40vh;
  background-image: url(../assets/img/background.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5rem;
}

.contact-hero-container h1 {
  color: var(--cor-branca);
  font-size: 2.5rem;
}
