@import url("./navbar.css");
@import url("./footer.css");
@import url("./home.css");
@import url("./contact.css");
@import url("./mobile.css");
@import url("./about-us.css");

* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  border: none;
}

:root {
  --cor-preta: #252525;
  --cor-laranja: #df7928;
  --cor-branca: #f0f0f0;
  --radius: 1rem;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}
