* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --cor-preta: #171617;
  --cor-laranja: #df7928;
  --cor-branca: #f0f0f0;
}

body {
  background-color: var(--cor-branca);
}

header {
  background-color: var(--cor-preta);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5rem;
}

.ul-menu {
  display: flex;
  list-style: none;
}

.li-menu a {
  color: var(--cor-branca);
  text-decoration: none;
  padding: 10px 10px;
  display: block;
  transition: 0.5s ease;
}

.li-menu a:hover {
  color: var(--cor-laranja);
}

h1 {
  text-align: center;
  margin: 20px 0;
  color: #333;
}

.header-logo {
  width: 200px;
}
