*{
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}
.nav-menu{
    display: flex;
    justify-content: space-around;
    background-color: #255E91;
    padding: 25px;

}

.ul-menu{
    display: flex;
    list-style: none;

}

.li-menu a{
    font-family:'Arial';
    background-color: #255E91;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 10px;
    display: block;
    font-size: 17px;
}

h1{
    text-align: center;
    margin: 20px 0;
    color: #333;
}