* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  border: none;
}

:root {
  --cor-preta: #171617;
  --cor-laranja: #df7928;
  --cor-branca: #f0f0f0;
}

body {
  background-color: var(--cor-branca);
}

header {
  background-color: var(--cor-preta);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5rem;
}

.ul-menu {
  display: flex;
  list-style: none;
}

.li-menu a {
  color: var(--cor-branca);
  text-decoration: none;
  padding: 10px 10px;
  display: block;
  transition: 0.5s ease;
}

.li-menu a:hover {
  color: var(--cor-laranja);
}

h1 {
  text-align: center;
  margin: 20px 0;
  color: #333;
}

.header-logo {
  width: 200px;
}

/* MAIN */

.hero {
  width: 100%;
  height: 90vh;
  background-image: url(./assets/img/background.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  padding-left: 5rem;
}

.hero-text-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: var(--cor-branca);
}

.hero-text-container h1 {
  color: var(--cor-branca);
  text-align: left;
  margin-bottom: -1rem;
}

.hero-text-container p {
  font-weight: 300;
}

.hero-btn {
  padding: 1rem 2rem;
  background-color: var(--cor-laranja);
  color: var(--cor-branca);
  font-weight: 600;
  border-radius: 10px;
  width: 50%;
  text-align: center;
  text-decoration: none;
  transition: 0.5s ease;
}

.hero-btn:hover {
  background-color: var(--cor-preta);
  color: var(--cor-laranja);
}
